<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor = "let phim of danhSachPhim">
            <app-phim [phim] = "phim" (eventPhim)="chonPhim($event)"></app-phim>

        </div>
    </div>
    <div class="container" *ngIf = "phimDangChon">
        <div class="table">
            <thead>
                <tr>
                    <th>Tên phim</th>
                    <th>Giá</th>
                   
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>{{phimDangChon.tenPhim}}</td>
                    <td>{{phimDangChon.gia}}</td>
                    
                </tr>
                
            </tbody>
        </div> 
        <div>
            <img [src]="phimDangChon.hinhAnh" alt="">
        </div>
    </div>
    
    
</div>

